body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #303846;
    background-color: #ffffff;
    background-position: center;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.main-header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
    background-color: #ffffff;
}
.main-header p {
    font-weight: bold;
    font-size: 16px;
    margin: auto 10px;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.site-navigation a {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    font-stretch: normal;
    color: #303846;
    margin: auto 10px ;
}
.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-header a {
    margin-left: 10px;
}
.promo {
    position: relative;
    min-height: 350px;
    background-image: url("../images/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-logo {
    position: absolute;
    align-items: center;
    top: 90px;
    left: 550px;

}
.title {
    font-size: 40px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 200px;
    color: #ffffff;
    text-align: center;
}
.promo p {
    font-size: 24px;
    font-weight: bold;
    max-width: 400px;
    margin: 15px auto 20px;
    color: #ffffff;
    text-align: center;
}
.button-transparent {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius:10px;
}
.button-transparent-filter {
    display: block;
    width: 180px;
    padding: 10px;
    margin: 0 auto;
}