body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #303846;
    background-color: #ffffff;
    background-position: center;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
    background-color: #ffffff;
}
.main-header p {
    font-weight: bold;
    font-size: 16px;
    margin: auto 10px;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.site-navigation a {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    font-stretch: normal;
    color: #303846;
    margin: auto 10px ;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a {
    margin-left: 10px;
}